$backgroundHeaderColor: #9D3FE7;
$whiteColor: white;
$hoverButtonColor: #cd58f0;
$clickColor: linear-gradient(159.13deg, #9D3FE7 -24.13%, #602093 132.21%);
$darckPurpleColor: #602093;
$grayColor: #9c97a1;
$blackColor:#000000;
$redColor: #d00f0f;
$options-scrollbar-width: 8px;
$options-scrollbar-track-color: #f1f1f1;
$options-scrollbar-thumb-color: #888;
$options-scrollbar-thumb-hover-color: #555;
$options-checkbox-color: purple;
$options-checkbox-size: 16px;
$linkColor: #0082fc;
$primary-border-color: #5e0666;
$category-bg-color: #eeddf0;
$text-color-dark: #333;
$text-color-light: #555;
