@import "../../../shared/colors.scss";

.pagination-categories-container{
  margin: 10vmin;
  background-color: $whiteColor;
  border-radius: 20px;

  .button-create-category-container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0.7%;
  }

}
