@import "../../utils/colors.scss";

.container-create-item{
  display: flex;
  flex-direction: column;

  .form-create-item{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }

}
