<div class="pagination-container">

  <div class="control-table-container">

  <h1 class="text-pagination">Elementos por página</h1>
  <app-dropdown
  [options]="optionsSize"
  (optionChange) = "onPageSizeSelected($event)"
  ></app-dropdown>
    <br>
  <h1 class="text-pagination">Ordenar</h1>
  <app-dropdown
  [options]="optionsSort"
  (optionChange) = "onPageSortDirectionSelected($event)"
  ></app-dropdown>

  </div>

  <div class="table-container-pagination" [style.height]="tableContainerHeight">
    <app-table  [data]="data" [columns]="tableColumns"></app-table>
  </div>

  <div class="pagination-controls">
    <app-button [content]="back" (action)="previousPage()" [isDisabled]="currentPage === 0"></app-button>
    <span>Página {{currentPage + 1}} de {{totalPages}}</span>
    <app-button [content]="next" (action)="nextPage()" [isDisabled]="currentPage >= totalPages - 1"></app-button>
  </div>
</div>



