@import "../../utils/colors.scss";

.container-create-category{
  background-color: $backgroundHeaderColor;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .form-create-category{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }

}
