@import "../../../shared/colors.scss";

.form-create{
  display: flex;
  flex-direction: column;
  background-color: $whiteColor;
  border-radius: 10px;
  width: 400px;

  .tittle{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button-container{
    margin-top: 2vh;
  }
}






