@import "../../../shared/colors.scss";

.container-create-brand{
  display: flex;
  flex-direction: column;

  .form-create-brand{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }

}
