@import "../../../../shared/colors.scss";

.list-category-container{
  background-color: $darckPurpleColor;
  min-height: 100vh;

  .pagination-categories-container{
    margin: 10vmin;
    background-color: $whiteColor;
    border-radius: 20px;

    .button-create-category-container{
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      padding: 0.7%;
    }

  }
}
