<div class="cards">
  <div class="cards__row">
    <p class="cards__title">Nombre:</p>
    <p class="cards__info">{{item.name}}</p>
  </div>

  <div class="cards__row">
    <p class="cards__title">Marca:</p>
    <p class="cards__info">{{item.brand.name}}</p>
  </div>
  <div class="cards__row">
    <p class="cards__title">Categorias:</p>
    <ng-container *ngFor="let category of item.categories">
      <p class="cards__info">{{category.name}},</p>
    </ng-container>
  </div>

  <div class="cards__row" *ngIf="item.areStock">
    <p class="cards__title">Cantidad en stock:</p>
    <p class="cards__info">{{item.quantityInStock}}</p>
  </div>

  <div class="cards__row" *ngIf="!item.areStock">
    <p class="cards__title">Fecha de abastecimiento:</p>
    <p class="cards__info">{{item.nextSupplyDate}}</p>
  </div>

  <div class="cards__row">
    <p class="cards__title">Cantidad en carrito:</p>
    <p class="cards__info">{{item.quantityInStock}}</p>
  </div>

  <div class="cards__row">
    <p class="cards__title">Precio:</p>
    <p class="cards__info">$ {{item.price}}</p>
  </div>

  <app-button [content] = "contentButton" (action)="handleRemoveItem(item.id)"></app-button>
</div>

