@import "../../../shared/colors.scss";
.input-create{

  border: 1px solid #b8b6b6;
  border-radius: 10px;
  height: height;
  width: width;
  transition: border-color 0.3s;
  outline-color: $backgroundHeaderColor;
  padding: 10px;
}

.input-error {
  border-color: $redColor;
}

.span-class-input{
  color: $redColor;
  font-size: 14px;
  margin-top: 4px;
  display: block;
}
