$backgroundHeaderColor: #9D3FE7;
$whiteColor: white;
$hoverButtonColor: #cd58f0;
$clickColor: linear-gradient(159.13deg, #9D3FE7 -24.13%, #602093 132.21%);
$darckPurpleColor: #602093;
$grayColor: #9c97a1;
$blackColor:#0000;
$redColor: #d00f0f;
