<div class="container-create-category">
  <div class="form-create-category">
    <app-form-create
      [form]="form"
      [title]="title"
      [textName]="textName"
      [textDescription]="textDescription"
      [placeholder]="placeholder"
      [contentButton]="contentButton"
      [categoryName] = "categoryName"
      [categoryDescription]="categoryDescription"
      [isLoading]="isLoading"
      [showToast]="showToast"
      [mistakeOcurred]="mistakeOcurred"
      [message]="message"
      [isDisabled]="form.invalid || isLoading"
      (submitForm)="onSubmit()"
    ></app-form-create>
  </div>
</div>

