<div class="form-create" [formGroup]="form">

  <app-loader *ngIf="isLoading"></app-loader>

  <div *ngIf="!isLoading">
  <h1 class="tittle">{{title}}</h1>
  <app-text-component [content]="textName"></app-text-component>
  <app-input
    [placeholder]="placeholder"
    [control]="name"
    [maxLengthTextSpan]=nameValidation
    [requiredTextSpan]=required
    width = 23.5rem
    height = 1rem
    fontSize="0.8rem"
  ></app-input>

  <app-text-component [content]="textDescription"></app-text-component>
  <app-texttarea
    [placeholder]="placeholder"
    [control]="description"
    [maxLengthTextSpan]=descriptionValidation
    [requiredTextSpan]=required
    width = 23.5rem
    height = 3rem
    fontSize="0.9rem"
  ></app-texttarea>

  <app-text-component [content]="textAmount"></app-text-component>
  <app-input
    [placeholder]="placeholder"
    [control]="amount"
    [requiredTextSpan]=required
    width = 23.5rem
    height = 1rem
    fontSize="0.8rem"
    type="number"
  ></app-input>

  <app-text-component [content]="textPrice"></app-text-component>
  <app-input
    [placeholder]="placeholder"
    [control]="price"
    [requiredTextSpan]=required
    width = 23.5rem
    height = 1rem
    fontSize="0.8rem"
  ></app-input>

  <app-text-component [content]="textBrands"></app-text-component>
  <select (change)="onBrandChange($event)">
    <option>Seleccione...</option>
    <option *ngFor="let brand of brands" [value]="brand.id">{{ brand.name }}</option>
  </select>

  <app-text-component [content]="textCategories"></app-text-component>
  <div class="options-container">
    <div  *ngFor="let category of categories">
      <input
        type="checkbox"
        [value]="category.id"
        (change)="toggleCategorySelection(category.id)"
        [disabled]="category.isDisabled"
        [checked]="form.get('categories')?.value.includes(category.id)">
      {{ category.categoryName }}
    </div>
  </div>


  <app-toast
  *ngIf="showToast"
  [message]=message
  [error] = mistakeOcurred
  ></app-toast>
  <div class="button-container">
    <app-button [content]="contentButton" (action)="onSubmit()" [isDisabled]="false"></app-button>
  </div>

</div>
</div>
