@import "../../../shared/colors.scss";

@mixin shadow(){
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

header {
  background-color: $whiteColor;
  width: 100%;
  @include shadow();

  .nav:has(.nav__toggle__input:checked) {
    --icon-toggle-img: url("../../../../../assets/burgerMenuIconClose.svg");
    --transform-menu-links: translate(0);
  }

  .nav {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $blackColor;

    --icon-toggle-img: url("../../../../../assets/burgerMenuIcon.svg");
    --transform-menu-links: translate(-100%);

    .nav__icon,
    .nav__toggle {
      z-index: 10;
    }

    .nav__toggle {
      margin: 20px 20px 20px;
      width: 30px;
      height: 30px;
      background-image: var(--icon-toggle-img);
      background-size: cover;
      cursor: pointer;
      transition: background-image 0.5s;
    }

    .nav__toggle__input {
      display: none;
    }

    .nav__list {
      transform: var(--transform-menu-links);
      position: fixed;
      inset: 0;
      align-content: center;
      text-align: center;
      list-style: none;
      background-color: $whiteColor;
      z-index: 5;
      transition: transform 0.5s;
      margin: 0 auto;
    }

    .nav__list__item {
      padding: 1.5rem 10%;

      .nav__list__item__link {
        text-decoration: none;
        color: $blackColor;
        padding: 10px 15px;

        &:hover {
          color: $darckPurpleColor;
        }
      }
    }

    .nav__list__logout{
      .logout__icon button{
        background: none;
        border: none;
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 764px) {

  .nav {
    transform: translate(0);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    .nav__toggle {
      display: none;
    }

    .nav__list {
      transform: none !important;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 1rem;
      padding-right: 20px;
      flex-direction: row;

      .nav__list__item {
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }
  }
}
