@import "../../utils/colors.scss";

// .container-create-category{
//   display: flex;
//   flex-direction: column;

//   .form-create-category{
//     flex: 1;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     padding: 30px;
//   }

// }

.form-create-category{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
}
