
@use "../../../styles/colors.scss" as colors;
@use "../../../styles/globalStyles.scss" as style;

.button{
  font-family: style.$fontApp;
  background-color: colors.$backgroundHeaderColor;
  color: colors.$whiteColor;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 100%;

  &:hover{
    background-color: colors.$hoverButtonColor;
  }

  &:active{
    background-color: colors.$clickColor;
  }

  &:disabled {
    background-color: colors.$grayColor;
    cursor: not-allowed;
  }
}
