@use "../../../styles/colors.scss" as colors;
@use "../../../styles/globalStyles.scss" as styles;

.items{
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  // gap: 0;
  row-gap: 2%;

  &__card{
    background-color: colors.$whiteColor;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    max-width: 100%;
    box-sizing: border-box;
  }
  &__quantityControls{
    @include styles.display(flex, space-between, center);
    flex-direction: row;
    margin-bottom: none;
  }
}
