<div class="items">

  <div class="items__card" *ngFor="let item of items">
    <app-card
    [name]="item.name"
    [description]="item.description"
    [price]="item.price"
    [quantityInStock]="item.quantityInStock"
    [categories]="item.categories"
    [brand]="item.brand"
    ></app-card>

    <div class="items__quantity">
      <h1>Cantidad: </h1>
      <app-button content="+" (action)="increaseQuantity(item)"></app-button>
      <span>{{quantity}}</span>
      <app-button content="-" (action)="decreaseQuantity(item)"></app-button>
    </div>
    <app-button content="Añadir al carrito"></app-button>
  </div>
</div>
