@use "../../../styles/colors.scss" as colors;
@use "../../../styles/globalStyles.scss" as style;

.paginationItems{
  height: 100%;
  margin: 1.5em 3em 3em;
  background-color: colors.$whiteColor;
  border-radius: 20px;

  &__button{
    @include style.display(flex, flex-end, flex-end);
    padding: 0.7%;
  }

}
