<div class="paginationItems">
    <div class="paginationItems__button" *ngIf="showCreateItem">
      <app-button content="Crear articulo" (action)="openModal()"></app-button>
      <app-modal width="800px" [isVisible]="isModalVisible" (close)="closeModal()">
        <app-create-item (itemCreated)="closeModal()"></app-create-item>
      </app-modal>
    </div>
  <div class="paginationItems__pagination">
    <app-pagination
    (changePageSizeAction) = "onPageSizeChange($event)"
    (changePageSortDirectionAction) = "onPageSortDirectionChange($event)"
    (changePageSortByAction)="onPageSortByChange($event)"
    (previousPageAction)="previusPage()"
    (nextPageAction)="nextPage()"
    [currentPage]="this.responsePaginatedItems.currentPage"
    [totalPages]="this.responsePaginatedItems.totalPages"
    [totalElements]="this.responsePaginatedItems.totalElements"
    [items]="items"
    [showItems]="false"
    [showTable]="true"
    [tableColumns]="tableColumns"
    [data]="data"
    [optionsShortBy]="options"
    [showSortBy]="true"
    [showItems]="showItemsCard"
    [showTable]="showItemsTable"
    (addItemToCartAction)="addItemToCart($event)"
    height="65vh"
    ></app-pagination>
    <app-toast *ngIf="showToast" [message]="message" [error]="mistakeOcurred"></app-toast>
  </div>
</div>
