@use "../../../styles/colors.scss" as colors;

.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #00870d;
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  transition: opacity 0.5s ease;

  :host {
    display: block;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateY(-10px);
  }

  :host(.visible) {
    opacity: 1;
    transform: translateY(0);
  }
}

.toast-error{
  background-color: red;
}
