<div class="login">
  <div class="login__form">
    <app-form
    [form]="form"
    [title]="title"
    [isLoading]="isLoading"
    [contentButton]="contentButton"
    [showToast]="showToast"
    [mistakeOcurred]="mistakeOcurred"
    [message]="message"
    [isDisabled]="form.invalid || isLoading"
    [formFields]="formFields"
    (submitForm)="onSubmit()"
    [showLink]=true
    [contentLink]="createAccountMessageLink"
    [info]="dontHaveAccountMessage"
    pathLink="/register"
    ></app-form>
  </div>
</div>
