<div class="table-container">
  <table class="custom-table">
    <thead class="header-table">
      <tr>
        <th *ngFor="let column of columns">{{column.header}}</th>
      </tr>
    </thead>
        <tbody class="table-body-container">
          <tr *ngFor="let row of data">
            <td *ngFor="let column of columns">
              <<ng-container *ngIf="isAnArray(row[column.field])">
                <span *ngFor="let tag of row['categories']" class="tag">{{ tag.name }}</span>
              </ng-container>
              <div *ngIf="!isAnArray(row[column.field])">
                {{row[column.field]}}
              </div>
              </td>
          </tr>
        </tbody>
  </table>
</div>
