@import"../../utils/colors.scss";
.list-items-container{
  background-color: $darckPurpleColor;
  min-height: 100vh;

  .pagination-items-container{
    height: 100%;
    margin: 2vmin;
    background-color: $whiteColor;
    border-radius: 20px;

    .button-create-brand-container{
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      padding: 0.7%;
    }

  }
}
